# Exclude the project virtual environment from image builds
.venv

# Exclude others
.git
.github
.ruff_cache
results/
notebooks/
logs/
data/
__pycache__/
*.pyc
*.ipynb
*.csv
*.parquet
*.log
.env
.DS_Store